.header {
  background-color: #1eff29;
  color: black;
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.header h1 {
  margin: 0;
  font-weight: bold;
  font-size: 32px;
  text-transform: capitalize;
}

.header p {
  margin-top: 5px;
  margin-bottom: 0;
  font-style: italic;
  font-size: 18px;
}
