body {
  margin: 0;
  padding: 0;
}
.footer {
  background-color: #7fbaf5;
  color: white;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  padding: 20px;
}
.footer p {
  margin: 5px 0;
}
.footer a {
  color: blue;
  text-decoration: underline;
}
