body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            padding: 20px;
        }
        .container {
            background-color: #f4f4f9;
            padding: 30px;
            text-align: center;
            border-radius: 5px;
        }
        h2 {
            color: #1e90ff;
            margin-top: 0;
            margin-bottom: 5px;
        }
        p {
            margin-top: 0;
            margin-bottom: 20px;
            font-size: 14px;
            color: #333;
        }
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            text-align: left; 
            padding-left: 20px; 
        }
        li {
            margin-bottom: 8px;
            font-size: 16px;
        }
        .text-mixed-style {
            text-decoration: underline line-through;
        }
        .text-bold {
            font-weight: bold;
        }