body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            padding: 20px;
        }
        .container {
            background-color: #f4f4f9;
            padding: 30px;
            border-radius: 5px;
        }
        h2 {
            color: #1e90ff;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 15px;
        }
        p {
            color: black;
            line-height: 1.5;
            margin-bottom: 15px;
        }
        .contact-details p {
            margin: 5px 0;
        }
        strong {
            font-weight: bold;
        }